<div class="row {{ css_classes }}">
  {% if widget_then_label %}
  <div class="small-12 medium-3 columns"></div>
  <div class="small-12 medium-9 columns">
    <div>
      {{ field }} {{ label_tag }}
      {{ field.errors }}
      {% if field.field.help_text %}
        <p class="help-text">{{ field.field.help_text }}</p>
      {% endif %}
    </div>
  </div>
  {% else %}
  <div class="small-12 medium-3 columns">
    {{ label_tag }}
  </div>
  <div class="small-12 medium-9 columns">
    {{ field }}
    {{ field.errors }}
    {% if field.field.help_text %}
      <p class="help-text">{{ field.field.help_text }}</p>
    {% endif %}
  </div>
  {% endif %}
</div>
